<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Validating User Login">
		<classes>
			<class name="academy.HomePage" />
		</classes>
	</test>

	<test name="validating title of the page">
		<classes>
			<class name="qaclickacademy.validateTitle" />
		</classes>
	</test>

	<test name="validating navigation bar of the page">

		<classes>
			<class name="qaclickacademy.validateNavigationBar" />
		</classes>
	</test>

	<test name="Validating User Login1">
		<classes>
			<class name="qaclickacademy.HomePage1" />
		</classes>
	</test>

	<!-- Test -->
</suite> <!-- Suite -->
